.main
  background url('../img/main.jpg') 50% 0 no-repeat
  background-size contain
  //background-size 100%
  overflow-x hidden
  
  &-title
  &-desc
    color #fff
  
  &-title
  &-title2
    font-size 4.9rem
    font-weight 300
    line-height 6rem
  
  &-desc
  &-desc2
    font-size 2rem
    margin-top 2.5rem
    
  &-title2 
    font-size 3.5rem
    line-height normal
    
  &-btn 
    margin-top 3.5rem  
    

@media (max-width: 992px) 
  .main
    background-size 1600px  
    
@media (max-width: 320px)
  .main 
    background-size 350vw          