.navigation
  position absolute
  top 0
  z-index 9999
  width 100%
  line-height 7.7rem
  

  &-container
    background rgba(0, 0, 0, .5)
    
  &-logo
    // width 390px
    height 78px
    background #25a499 url('../img/logo.png') 67% 50% no-repeat
    text-indent -9999px
    
    h1 
      margin 0
      padding 0
      height 100%
    
    a 
      display block
      height 100%
    
  &-download
    color #fff
    text-align right
    
    &-text 
      font-size 1.35rem
      text-transform uppercase
    
    &-link
      display inline-block
      height 48px
      width 48px
      background url('../img/sprite-top-icon.png') 0% 0% no-repeat
      vertical-align middle
      margin 0 .8rem
      
      &:hover
      &:focus
        opacity .6
      
    &-apple 
      background-position-x -48px !important 

    &-windows 
      background-position-x -96px !important 
      
  &-menu
    
    &-ul     
      margin 0 
      padding 0

      li     
        display inline-block
        margin 0 3rem
        
        a 
          &:visited
          &:link 
            color #fff
            font-weight 600 
            font-size 1.7rem
            


@media (max-width: 768px)
  .navigation-logo
    background-position-x 50%    
      

@media (max-width: 320px)
  .navigation-download
    display none
    

@media (max-width: 1200px)
  .navigation
    &-menu-ul li
      margin 0 1rem
      
@media (min-width: 1200px)
  .navigation
    &-download-link
      &:last-child
        padding-right 9vw