.sale
  background #41515e
  text-align center
  padding-top 5vh
  padding-bottom 9vh
  
  &-text
    .main-title2
      color #fff
      
    .main-desc2
      color #939ca3
      margin-top 0

  .form
    
    &-inline
      margin-top 2rem
      
    &-group
      margin-right 1rem
    
    &-control
      width 20vw
      
      &:focus
        outline none
        box-shadow none
        border-color #ccc
        


@media (max-width: 768px)
    
  .sale 
    .form-control
      width auto
      margin 0 auto        