.buttons
  border-top #e2e6e7
  border-bottom #f0f2f1
  background #f3f5f4
  background linear-gradient(to bottom,  #f3f5f4 0%, #ffffff 100%)
  
  &-item
    text-align center
    
    a
      &:link
      &:visited  
        display inline-block 
        width 134px
        // height 134px
        height 148px
        background url('../img/icon/1_256.svg') 50% 20% no-repeat
        background-size 60%
        
      &:hover
      &:focus
        opacity .6  
        background-image url('../img/icon/green/1_256.svg')
        // background-position-y -134px

      
    &.active
      a 
        opacity .6
        // background-position-y -134px

    &:nth-child(2) a
      background-image url('../img/icon/2_256.svg') 
      &:hover
      &:focus
        opacity .6  
        background-image url('../img/icon/green/2_256.svg')
      
    &:nth-child(3) a
      background-image url('../img/icon/3_256.svg')
      &:hover
      &:focus
        opacity .6  
        background-image url('../img/icon/green/3_256.svg')
      
    &:nth-child(4) a
      background-image url('../img/icon/4_256.svg')
      &:hover
      &:focus
        opacity .6  
        background-image url('../img/icon/green/4_256.svg')
      
    &:nth-child(5) a
      background-image url('../img/icon/5_256.svg')
      &:hover
      &:focus
        opacity .6  
        background-image url('../img/icon/green/5_256.svg')
      
    &:nth-child(6) a
      background-image url('../img/icon/6_256.svg') 
      &:hover
      &:focus
        opacity .6  
        background-image url('../img/icon/green/6_256.svg')
      
    span 
      font-size 1rem
      color #666
      margin-top 114px
      display inline-block








.slides 
  position relative
  overflow hidden
  
  &-text
    padding-top 5rem
    padding-bottom 25vh

  &-icon
    display inline-block
    width 134px
    height 134px
    background url('../img/icon/green/1_256.svg') 50% 50% no-repeat
    background-size 60%
    margin 9vh 0 0
    border .3rem solid #26a599
    border-radius 100%
    
    &-2
      background-image url('../img/icon/green/2_256.svg')
      
    &-3
      background-image url('../img/icon/green/3_256.svg')  
      
    &-4
      background-image url('../img/icon/green/4_256.svg') 
      
    &-5
      background-image url('../img/icon/green/5_256.svg')
      
    &-6
      background-image url('../img/icon/green/6_256.svg')
    
    &-box 
      text-align left
  
  &-nav 
    position absolute
    z-index 3
    left 2vw
    top 50%
    width 26px
    transform translateY(-50%)
    
    a 
      display block
      position relative
      z-index 4
      color transparent
      width 26px
      height 26px
      outline none
      margin 25px 0
      border-radius 50%
      border .2rem solid #dfe3e4
      
      &:after
        content ''
        position absolute
        top 20%
        left 20%
        width 60%
        height 60%
        border-radius 100%
        background #fff
              
      &.active:after
        background #26a699
        
      &:hover:after
      &:focus:after
        background rgba(38, 166, 153, .6)  
        
  &-box 
    position relative
  
  &-item
    position absolute
    top 0
    width 100%
    visibility hidden
    
    &.active
      visibility visible
    
    &-images
      position absolute
      top 0
      width 100%
      height 100%
      background url('../img/pic5.jpg') 50vw 100% no-repeat
      
    &:nth-child(1)
      .slides-item-images
        background-image url('../img/slide1.jpg')
    
    &:nth-child(2)
      .slides-item-images
        background-image url('../img/slide2.jpg')
    
    &:nth-child(3)
      .slides-item-images
        background-image url('../img/slide3.jpg')
    
    &:nth-child(4)
      .slides-item-images
        background-image url('../img/slide4.jpg')
    
    &:nth-child(5)
      .slides-item-images
        background-image url('../img/slide5.jpg')
    
    &:nth-child(6)
      .slides-item-images
        background-image url('../img/slide6.jpg')
        



@media (max-width: 992px) 

  .slides
    
    &-icon
      &-box
        display none  
        
    &-text 
      background-color rgba(255, 255, 255, .9)    