@import url('http://fonts.googleapis.com/css?family=Roboto:300,700,100,400&subset=latin,cyrillic,cyrillic-ext')

@import 'lib/royal_preloader'
@import nib 
@import bootstrap    
@import 'lib/variables'  
@import 'lib/font-awesome/font-awesome'
@media (min-width: 768px)
  @import 'lib/animate' 
@import 'lib/reveal'          
@import 'lib/sweetalert'
   
@import 'partials/overflow'
@import 'partials/navigation' 
@import 'partials/main' 
@import 'partials/header' 
@import 'partials/how' 
@import 'partials/download'
@import 'partials/wow'
@import 'partials/slides' 
@import 'partials/links'  
@import 'partials/sale' 
@import 'partials/footer' 