!!!
%html.no-js{:lang => ""}
  %head
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %title Мобильная медсестра
    %meta{:content => "", :name => "description"}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
    %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}
    / Place favicon.ico in the root directory
    %link{:href => "css/main.css", :rel => "stylesheet"}
    %script{:src => "js/modernizr-2.8.3.min.js"}
  %body.royal_preloader
    /[if lt IE 8]
      %p.browserupgrade 
        You are using an 
        %strong outdated
        browser. Please 
        %a{ :href => "http://browsehappy.com/"} upgrade your browser
        to improve your experience
    / Add your site or application content here

    .section.navigation
      .container-fluid.navigation-container
        .row
          .col-md-3.col-sm-6.navigation-logo
            %h1 
              %a{ :href => '#', :title => '' } Мобильная медсестра

          .col-md-4.hidden-sm.hidden-xs.navigation-menu
            %ul.navigation-menu-ul
              %li
                %a{ :href => '#', :title => '', 'data-reveal-id': 'form-pdf' } Презентация PDF
              %li
                %a{ :href => '#', :title => '', 'data-reveal-id': 'form-mediakit' } Mediakit


          .col-md-5.col-sm-6.navigation-download
            %span.navigation-download-text Скачать приложение
            %a.navigation-download-link.navigation-download-android{ :href => '#', :title => '' } 
            %a.navigation-download-link.navigation-download-apple{ :href => '#', :title => '' } 
            %a.navigation-download-link.navigation-download-windows{ :href => '#', :title => '' } 

   
    %main.main#skrollr-body   
      %header.section.header
        .container
          .row.header-panel
            .col-md-12
              %h2.main-title
                Здоровье не переоценено.
                %br
                Держи его под контролем!

              %p.main-desc
                Мобильная медсестра — надежный помощник 
                %br
                на вашем пути к выздоровлению!
                
              %p.main-btn.hidden-xs
                %a.btn.btn-lg2.btn-default2#scroll-to-how{ :href => '#', :title => '' } Как это работает?


      .section.how.animate-box.hidden-xs
        .container-fluid
          .row.hidden-sm.hidden-xs
            .col-md-12.animate-check
              %h2.main-title2#how-title Как это работает?
          .row
            .col-md-5.how-left.hidden-sm.animate-left0.invisible
            .col-md-2.how-phone
              .how-phone-img{ 'data-bottom-top' => 'top: -43vh', 'data-bottom' => 'top: 0vh' }
            .col-md-5.how-right.hidden-sm.animate-right0.invisible


      .section.download.animate-box
        .container
          .row
            .col-md-6.hidden-sm.hidden-xs.download-img.animate-left0.invisible
              %img{ :src => 'img/pic3.jpg', :title => '', :alt => '' }
            .col-md-6.download-text.animate-right0.invisible
              %h2.main-title2 Вы получаете назначение от врача и заносите данные в приложение
              %p.main-desc2.animate-right1.invisible Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины. Можно ещё чуть больше, на пару строчек. Ещё больше текста.

              #download-links.animate-right2
                .download-store.invisible
                  %span.download-store-text Доступно в 
                  %a{ :href => '#', :title => '', :alt => '' } 
                    %img{ :alt => "Get it on Google Play", :src => "https://developer.android.com/images/brand/ru_generic_rgb_wo_45.png" }
                  %a{ :href => '#', :title => '', :alt => '' } 
                    %img{ :alt => "Download on the App Store", :src => "img/Download_on_the_App_Store_Badge_RU.svg" }




      .section.wow.animate-box
        .container
          .row
            .col-md-6.wow-text.animate-left0.invisible
              %h2.main-title2 Вы получаете назначение от врача и заносите данные в приложение
              %p.main-desc2.animate-left1.invisible
                Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.
              %p.main-desc2.animate-left2.invisible
                Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.


      .section.buttons
        .container
          .row
            .col-md-2.col-sm-4.col-xs-6.buttons-item.active
              %a{ :href => '#', :title => '' }
                %span Умные уведомления
            .col-md-2.col-sm-4.col-xs-6.buttons-item
              %a{ :href => '#', :title => '' }
                %span Cправочники
            .col-md-2.col-sm-4.col-xs-6.buttons-item
              %a{ :href => '#', :title => '' }
                %span Выбор куратора
            .col-md-2.col-sm-4.col-xs-6.buttons-item
              %a{ :href => '#', :title => '' }
                %span Архив и синхронизация
            .col-md-2.col-sm-4.col-xs-6.buttons-item
              %a{ :href => '#', :title => '' }
                %span Интеграция
            .col-md-2.col-sm-4.col-xs-6.buttons-item
              %a{ :href => '#', :title => '' }
                %span Отчетность

      .section.slides
        .nav.slides-nav.hidden-sm.hidden-xs
          %a.active{ :href => '#', :title => '' } Слайд 1
          %a{ :href => '#', :title => '' } Слайд 2
          %a{ :href => '#', :title => '' } Слайд 3
          %a{ :href => '#', :title => '' } Слайд 4
          %a{ :href => '#', :title => '' } Слайд 5
          %a{ :href => '#', :title => '' } Слайд 6

        .slides-box
          .slides-item.animate-box
            .container-fluid.slides-item-images.animate-right0.invisible
            .container.animate-left0.invisible
              .row
                .col-md-2.slides-icon-box.animate-check
                  .slides-icon.slides-icon-1 
              .row
                .col-md-6.slides-text
                  %h2.main-title2 Вы получаете назначение от врача и заносите данные в приложение
                  %p.main-desc2.animate-left1.invisible
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.
                  %p.main-desc2.animate-left2.invisible
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.

          .slides-item
            .container-fluid.slides-item-images
            .container
              .row
                .col-md-2.slides-icon-box
                  .slides-icon.slides-icon-2
              .row
                .col-md-6.slides-text
                  %h2.main-title2 Вы получаете назначение от врача и заносите данные в приложение
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.

          .slides-item
            .container-fluid.slides-item-images
            .container
              .row
                .col-md-2.slides-icon-box
                  .slides-icon.slides-icon-3
              .row
                .col-md-6.slides-text
                  %h2.main-title2 Вы получаете назначение от врача и заносите данные в приложение
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.

          .slides-item
            .container-fluid.slides-item-images
            .container
              .row
                .col-md-2.slides-icon-box
                  .slides-icon.slides-icon-4
              .row
                .col-md-6.slides-text
                  %h2.main-title2 Вы получаете назначение от врача и заносите данные в приложение
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.

          .slides-item
            .container-fluid.slides-item-images
            .container
              .row
                .col-md-2.slides-icon-box
                  .slides-icon.slides-icon-5
              .row
                .col-md-6.slides-text
                  %h2.main-title2 Вы получаете назначение от врача и заносите данные в приложение
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.

          .slides-item
            .container-fluid.slides-item-images
            .container
              .row
                .col-md-2.slides-icon-box
                  .slides-icon.slides-icon-6
              .row
                .col-md-6.slides-text
                  %h2.main-title2 Вы получаете назначение от врача и заносите данные в приложение
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.
                  %p.main-desc2 
                    Вам нужно всего лишь воспользоваться удобным интерфейсом заполнеения данных и другой маркетинговый текст приблизительно такой длины.

      .section.links#links.animate-box
        .container
          .row
            .col-md-12.animate-left0.invisible
              .download-store
                %span.download-store-text Доступно в 
                %a{ :href => '#', :title => '', :alt => '' } 
                  %img{ :alt => "Get it on Google Play", :src => "https://developer.android.com/images/brand/ru_generic_rgb_wo_45.png" }
                %a{ :href => '#', :title => '', :alt => '' } 
                  %img{ :alt => "Download on the App Store", :src => "img/Download_on_the_App_Store_Badge_RU.svg" }

      .section.sale
        .container
          .row
            .col-md-12.sale-text
              %h2.main-title2
                Подпишитесь на обновление!

              %p.main-desc2
                Без спама и рекламы. Мы не распространяем ваши почтовые ящики третьим лицам.

          .row
            .col-md-12
              %form.form-inline
                .form-group
                  %input.form-control{:placeholder => "Ваша почта", :type => "text"}
                %button.btn.btn-primary2{:type => "submit"} Подписаться


      %footer.section.footer
        .container
          .row
            .col-md-3.col-sm-6.footer-logo
              %h1 
                %a{ :href => '#', :title => '' } Мобильная медсестра

            .col-md-3.hidden-sm.hidden-xs.footer-text
              %p
                &copy; 2015 год
                %br
                Все права защищены.

            .col-md-6.col-sm-6.footer-social
              %ul.footer-social-ul
                %li.footer-social-li
                  %a.footer-social-icon{ :href => '#', :title => ''}
                    %i.fa.fa-google-plus
                %li.footer-social-li
                  %a.footer-social-icon{ :href => '#', :title => ''}
                    %i.fa.fa-facebook
                %li.footer-social-li
                  %a.footer-social-icon{ :href => '#', :title => ''}
                    %i.fa.fa-twitter


    #form-mediakit.reveal-modal
      %h2 Получить Mediakit
      %form#ss-form{:action => "https://docs.google.com/forms/d/1RAUNrG71N2oznEsTKW9GFj_ZsITxDF5V4eT4Aap5DQY/formResponse", :method => "POST", :onsubmit => "submitted=true;", :target => "hidden_iframe"}
        .form-group
          %label{ :for => "entry_1839168028" } Ваше Имя
          %input#entry_1839168028.form-control{"aria-label" => "Ваше Имя  ", :dir => "auto", :name => "entry.1839168028", :title => "", :type => "text", :value => ""}
        
        .form-group
          %label{ :for => "entry_1413954203" } Компания
          %input#entry_1413954203.form-control{"aria-label" => "Компания  ", :dir => "auto", :name => "entry.1413954203", :title => "", :type => "text", :value => ""}
        
        .form-group
          %label{ :for => "entry_553365034" } E-Mail
          %input#entry_553365034.form-control{"aria-label" => " E-Mail  ", "aria-required" => "true", :dir => "auto", :name => "entry.553365034", :required => "", :title => "", :type => "text", :value => ""}

        .form-group
          %label{ :for => "entry_82576170" } Сообщение
          %textarea#entry_82576170.form-control{"aria-label" => "Сообщение  ", :cols => "0", :dir => "auto", :name => "entry.82576170", :rows => "4"}

        %input{:name => "draftResponse", :type => "hidden", :value => "[,,\"-6942591810798842569\"]\r\n"}
        %input{:name => "pageHistory", :type => "hidden", :value => "0"}
        %input{:name => "fvv", :type => "hidden", :value => "0"}
        %input{:name => "fbzx", :type => "hidden", :value => "-6942591810798842569"}
        %input#ss-submit.btn.btn-lg.btn-primary{:name => "submit", :type => "submit", :value => "Готово"}

      %a.close-reveal-modal &#215;   



    #form-pdf.reveal-modal
      %h2 Получить презентацию проекта
      %form#ss-form{:action => "https://docs.google.com/forms/d/1Mhq5-jDqwmG9kZ0AUkf_yEnA_on5KYDgxmzObEOZsCc/formResponse", :method => "POST", :onsubmit => "submitted=true;", :target => "hidden_iframe"}
        .form-group
          %label{ :for => "entry_42945489" } Ваше Имя
          %input#entry_42945489.form-control{"aria-label" => "Ваше Имя  ", :dir => "auto", :name => "entry.42945489", :title => "", :type => "text", :value => ""}
        
        .form-group
          %label{ :for => "entry_1604023970" } Компания
          %input#entry_1604023970.form-control{"aria-label" => "Компания  ", :dir => "auto", :name => "entry.1604023970", :title => "", :type => "text", :value => ""}
        
        .form-group
          %label{ :for => "entry_5713699" } E-Mail
          %input#entry_5713699.form-control{"aria-label" => " E-Mail  ", "aria-required" => "true", :dir => "auto", :name => "entry.5713699", :required => "", :title => "", :type => "text", :value => ""}

        .form-group
          %label{ :for => "entry_914677203" } Сообщение
          %textarea#entry_914677203.form-control{"aria-label" => "Сообщение  ", :cols => "0", :dir => "auto", :name => "entry.914677203", :rows => "4"}

        %input{:name => "draftResponse", :type => "hidden", :value => "[,,\"-481916804165446593\"]\r\n"}
        %input{:name => "pageHistory", :type => "hidden", :value => "0"}
        %input{:name => "fvv", :type => "hidden", :value => "0"}
        %input{:name => "fbzx", :type => "hidden", :value => "-481916804165446593"}
        %input#ss-submit.btn.btn-lg.btn-primary{:name => "submit", :type => "submit", :value => "Готово"}

      %a.close-reveal-modal &#215;

    :javascript
      var submitted = false;
    %iframe#hidden_iframe{:name => "hidden_iframe", :onload => "if(submitted) {$('.reveal-modal').trigger('reveal:close'); swal('Хорошая работа!', 'Ваша заявка принята!', 'success')}", :style => "display:none;"}
    %script{:src => "js/main.js"}    