$font-family-base = 'Roboto Slab', serif


$input-border-radius = 0
$input-border-radius-large = 0


$input-border-focus = #F0C808
$padding-base-vertical = 10px 
$padding-base-horizontal = 16px
$input-height-base = 46px